# Prisma
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://postgres:gtd-xxvi-postgres-dev@localhost:5432/postgres"

# Stripe
# See docs/CONTRIBUTING.md or fill it with any string if you will not be using the Stripe API
STRIPE_SECRET_KEY="abcd"
STRIPE_WEBHOOK_SECRET="abcd"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="abcd"

# Brevo (Email)
# See docs/CONTRIBUTING.md or fill it with any string if you will not be using the Brevo Email API
BREVO_API_KEY="abcd"

# Google Service Account
# See https://theoephraim.github.io/node-google-spreadsheet/#/guides/authentication?id=service-account for more info
GOOGLE_CLIENT_EMAIL="abcd"
GOOGLE_PRIVATE_KEY="abcd"
SHEETS_ID="abcd"
