.flag:hover {
  cursor: pointer;
  animation: expandDownward 0.5s forwards;
}
@keyframes expandDownward {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(45%);
    opacity: 1;
  }
}
@keyframes collapseUpward {
  0% {
    transform: translateY(45%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}
.onflag {
  cursor: pointer;
  animation: expandDownward 0.5s forwards;
}

.offflag {
  cursor: pointer;
  animation: collapseUpward 0.5s forwards;
}
