@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gtd-red-primary-bright: 0 85% 42%;
    --gtd-red-primary-dim: 0 78% 32%;
    --gtd-red-secondary-bright: 47 100% 42%;
    --gtd-red-secondary-dim: 47 98% 49%;

    --gtd-green-primary-bright: 149 84% 17%;
    --gtd-green-primary-dim: 149 84% 12%;
    --gtd-green-secondary-bright: 150 4% 50%;
    --gtd-green-secondary-dim: 153 8% 28%;

    --gtd-blue-primary-bright: 223 71% 32%;
    --gtd-blue-primary-dim: 223 81% 23%;
    --gtd-blue-secondary-bright: 0 0% 90%;
    --gtd-blue-secondary-dim: 0 0% 76%;

    --gtd-yellow-primary-bright: 42 90% 57%;
    --gtd-yellow-primary-dim: 42 97% 74%;
    --gtd-yellow-secondary-bright: 27 15% 39%;
    --gtd-yellow-secondary-dim: 26 27% 25%;

    --gtd-primary-10: 47 100% 62%;
    --gtd-primary-20: 39 79% 48%;
    --gtd-primary-30: 35 85% 40%;

    --gtd-secondary-10: 33 35% 65%;
    --gtd-secondary-20: 0 9% 30%;
    --gtd-secondary-30: 0 9% 21%;

    --gtd-tertiary-10: 52 100% 91%;
    --gtd-tertiary-20: 53 70% 82%;
    --gtd-tertiary-30: 35 54% 56%;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
  mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.scroll_inner {
  width: max-content;
  flex-wrap: nowrap;
}

.scroll_inner:hover {
  animation-play-state: paused;
}